name: CI

on:
  push:
    branches:
      - develop
      - main

  pull_request:

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GITHUB_PR_NUM: ${{ github.event.pull_request.number }}

jobs:
  build:
    name: Compile
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: GetStream/android-ci-actions/actions/setup-java@main

      - uses: GetStream/android-ci-actions/actions/gradle-cache@main

      - name: Make Gradle executable
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew assembleDebug --scan

  spotless:
    name: Spotless
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - uses: GetStream/android-ci-actions/actions/setup-java@main
      - name: Run Spotless
        run: ./gradlew spotlessCheck

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - uses: GetStream/android-ci-actions/actions/setup-java@main
      - name: Run Lint
        run: ./gradlew lint

  unitTest:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: GetStream/android-ci-actions/actions/setup-java@main

      - uses: GetStream/android-ci-actions/actions/gradle-cache@main

      - name: Run unit tests
        run: ./gradlew testDebugUnitTest --stacktrace

      - name: Unit tests results
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: unit-tests-results
          path: ./**/build/reports/tests/**
